<section class="hero-about" id="hero">
    <div class="containers">
        <h5 class="sub-heading mt-5" style="font-size: 2rem;">
            CART
        </h5>
    </div>
</section>

<div id="cart_item">
    <%= render  "cart_item" %>
</div>