<!-- <h1>Welcome#about_us</h1>
<p>Find me in app/views/welcome/about_us.html.erb</p> -->
<section class="hero-about" id="hero">
    <div class="containers">
        <h5 class="sub-heading mt-5" style="font-size: 2rem;">
            THE BEST IN TOWN
        </h5>
        <h1 class="headline mt-5" style="font-size: 1.5rem;">About US</h1>
    </div>
</section>

<!-- <div class="container">
    <div class="row">
        <div class="col-6 my-5">
            <img src="https://res.cloudinary.com/elijjaaahhhh/image/upload/v1600051027/pexels-engin-akyurt-2673353_lojsoh.jpg" alt="">
        </div>
        <div class="col-6 my-5">
            <img src="https://res.cloudinary.com/elijjaaahhhh/image/upload/v1600051027/pexels-engin-akyurt-2673353_lojsoh.jpg" alt="">
        </div>
    </div>
</div> -->

<div class="container my-5 about text-center">
    <h1 class="text-center mt-5" style="font-size: 2.5rem; font-weight: bold">About Our Story</h1>
    <p class="mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Numquam perspiciatis omnis minima ipsa quam repellendus 
        reprehenderit facilis quia corporis saepe ad temporibus sequi, 
        praesentium, non rem earum aut iusto accusamus quaerat, suscipit
         fugiat vitae laboriosam beatae. Nisi itaque saepe temporibus fuga
          vel laboriosam sint nesciunt dolores ea, consequuntur fugit obcaecati
           exercitationem quia. Sapiente, tenetur id debitis dolorum veniam aperiam. Quia?
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Numquam perspiciatis omnis minima ipsa quam repellendus 
        reprehenderit facilis quia corporis saepe ad temporibus sequi, 
        praesentium, non rem earum aut iusto accusamus quaerat, suscipit
         fugiat vitae laboriosam beatae. Nisi itaque saepe temporibus fuga
          vel laboriosam sint nesciunt dolores ea, consequuntur fugit obcaecati
           exercitationem quia. Sapiente, tenetur id debitis dolorum veniam aperiam. Quia?
    </p>
    <p class="mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Numquam perspiciatis omnis minima ipsa quam repellendus 
        reprehenderit facilis quia corporis saepe ad temporibus sequi, 
        praesentium, non rem earum aut iusto accusamus quaerat, suscipit
         fugiat vitae laboriosam beatae. Nisi itaque saepe temporibus fuga
          vel laboriosam sint nesciunt dolores ea, consequuntur fugit obcaecati
           exercitationem quia. Sapiente, tenetur id debitis dolorum veniam aperiam. Quia?
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Numquam perspiciatis omnis minima ipsa quam repellendus 
        reprehenderit facilis quia corporis saepe ad temporibus sequi, 
        praesentium, non rem earum aut iusto accusamus quaerat, suscipit
         fugiat vitae laboriosam beatae. Nisi itaque saepe temporibus fuga
          vel laboriosam sint nesciunt dolores ea, consequuntur fugit obcaecati
           exercitationem quia. Sapiente, tenetur id debitis dolorum veniam aperiam. Quia?
    </p>
</div>



<!-- <div class="wrapper">

    <div class="block animatable bounceIn">bounceIn</div>
    <div class="block animatable bounceInLeft">bounceInLeft</div>
    <div class="block animatable bounceInRight">bounceInRight</div>

    <div class="block animatable fadeIn">fadeIn</div>
    <div class="block animatable fadeInDown">fadeInDown</div>
    <div class="block animatable fadeInUp">fadeInUp</div>

    <div class="block animatable moveUp">moveUp</div>

    <div class="block animatable fadeBgColor">fadeBgColor</div>




    <div class="block animatable bounceIn">bounceIn</div>
    <div class="block animatable bounceInLeft">bounceInLeft</div>
    <div class="block animatable bounceInRight">bounceInRight</div>

    <div class="block animatable fadeIn">fadeIn</div>
    <div class="block animatable fadeInDown">fadeInDown</div>
    <div class="block animatable fadeInUp">fadeInUp</div>

    <div class="block animatable moveUp">moveUp</div>

    <div class="block animatable fadeBgColor">fadeBgColor</div>




    <div class="block animatable bounceIn">bounceIn</div>
    <div class="block animatable bounceInLeft">bounceInLeft</div>
    <div class="block animatable bounceInRight">bounceInRight</div>

    <div class="block animatable fadeIn">fadeIn</div>
    <div class="block animatable fadeInDown">fadeInDown</div>
    <div class="block animatable fadeInUp">fadeInUp</div>

    <div class="block animatable moveUp">moveUp</div>

    <div class="block animatable fadeBgColor">fadeBgColor</div>




    <div class="block animatable bounceIn">bounceIn</div>
    <div class="block animatable bounceInLeft">bounceInLeft</div>
    <div class="block animatable bounceInRight">bounceInRight</div>

    <div class="block animatable fadeIn">fadeIn</div>
    <div class="block animatable fadeInDown">fadeInDown</div>
    <div class="block animatable fadeInUp">fadeInUp</div>

    <div class="block animatable moveUp">moveUp</div>

    <div class="block animatable fadeBgColor">fadeBgColor</div>




    <div class="block animatable bounceIn">bounceIn</div>
    <div class="block animatable bounceInLeft">bounceInLeft</div>
    <div class="block animatable bounceInRight">bounceInRight</div>

    <div class="block animatable fadeIn">fadeIn</div>
    <div class="block animatable fadeInDown">fadeInDown</div>
    <div class="block animatable fadeInUp">fadeInUp</div>

    <div class="block animatable moveUp">moveUp</div>

    <div class="block animatable fadeBgColor">fadeBgColor</div>




    <div class="block animatable bounceIn">bounceIn</div>
    <div class="block animatable bounceInLeft">bounceInLeft</div>
    <div class="block animatable bounceInRight">bounceInRight</div>

    <div class="block animatable fadeIn">fadeIn</div>
    <div class="block animatable fadeInDown">fadeInDown</div>
    <div class="block animatable fadeInUp">fadeInUp</div>

    <div class="block animatable moveUp">moveUp</div>

    <div class="block animatable fadeBgColor">fadeBgColor</div>

</div> -->