<!-- <h1>Welcome#about_us</h1>
<p>Find me in app/views/welcome/about_us.html.erb</p>
<div class="w3-display-container" style="margin-bottom:50px"> -->
    <img src="https://res.cloudinary.com/elijjaaahhhh/image/upload/v1600083549/y0zfcax3kectrypff5u2.jpg" style="width:100%;height:70vh">
    <div class="w3-display-bottomleft w3-container w3-amber w3-hover-orange w3-hide-small"
     style="bottom:10%;opacity:0.7;width:70%">
    <h2><b>4 Good Reasons<br>For travelling with us</b></h2>
  </div>
  </div>
<!-- <div class="wrapper">

    <div class="block animatable bounceIn">bounceIn</div>
    <div class="block animatable bounceInLeft">bounceInLeft</div>
    <div class="block animatable bounceInRight">bounceInRight</div>

    <div class="block animatable fadeIn">fadeIn</div>
    <div class="block animatable fadeInDown">fadeInDown</div>
    <div class="block animatable fadeInUp">fadeInUp</div>

    <div class="block animatable moveUp">moveUp</div>

    <div class="block animatable fadeBgColor">fadeBgColor</div>




    <div class="block animatable bounceIn">bounceIn</div>
    <div class="block animatable bounceInLeft">bounceInLeft</div>
    <div class="block animatable bounceInRight">bounceInRight</div>

    <div class="block animatable fadeIn">fadeIn</div>
    <div class="block animatable fadeInDown">fadeInDown</div>
    <div class="block animatable fadeInUp">fadeInUp</div>

    <div class="block animatable moveUp">moveUp</div>

    <div class="block animatable fadeBgColor">fadeBgColor</div>




    <div class="block animatable bounceIn">bounceIn</div>
    <div class="block animatable bounceInLeft">bounceInLeft</div>
    <div class="block animatable bounceInRight">bounceInRight</div>

    <div class="block animatable fadeIn">fadeIn</div>
    <div class="block animatable fadeInDown">fadeInDown</div>
    <div class="block animatable fadeInUp">fadeInUp</div>

    <div class="block animatable moveUp">moveUp</div>

    <div class="block animatable fadeBgColor">fadeBgColor</div>




    <div class="block animatable bounceIn">bounceIn</div>
    <div class="block animatable bounceInLeft">bounceInLeft</div>
    <div class="block animatable bounceInRight">bounceInRight</div>

    <div class="block animatable fadeIn">fadeIn</div>
    <div class="block animatable fadeInDown">fadeInDown</div>
    <div class="block animatable fadeInUp">fadeInUp</div>

    <div class="block animatable moveUp">moveUp</div>

    <div class="block animatable fadeBgColor">fadeBgColor</div>




    <div class="block animatable bounceIn">bounceIn</div>
    <div class="block animatable bounceInLeft">bounceInLeft</div>
    <div class="block animatable bounceInRight">bounceInRight</div>

    <div class="block animatable fadeIn">fadeIn</div>
    <div class="block animatable fadeInDown">fadeInDown</div>
    <div class="block animatable fadeInUp">fadeInUp</div>

    <div class="block animatable moveUp">moveUp</div>

    <div class="block animatable fadeBgColor">fadeBgColor</div>




    <div class="block animatable bounceIn">bounceIn</div>
    <div class="block animatable bounceInLeft">bounceInLeft</div>
    <div class="block animatable bounceInRight">bounceInRight</div>

    <div class="block animatable fadeIn">fadeIn</div>
    <div class="block animatable fadeInDown">fadeInDown</div>
    <div class="block animatable fadeInUp">fadeInUp</div>

    <div class="block animatable moveUp">moveUp</div>

    <div class="block animatable fadeBgColor">fadeBgColor</div>

</div> -->