<section class="slider">
    <ul class=" slides">
        <li>
            <img src="https://res.cloudinary.com/elijjaaahhhh/image/upload/v1589795151/assorted-dishes-on-plate-793765_a5qy49.jpg">
            <div class="caption center-align">
                <h2>Title</h2>
                <h5 class="light grey-text text-lighten-3 hide-on-small-onl">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis,
                    quos. Consequuntur natus laborum doloremque expedita.
                </h5>
                <a href="#" class="btn btn-large">Learn More</a>
            </div>
        </li>
        <li>
            <img id="img-2" src="https://res.cloudinary.com/elijjaaahhhh/image/upload/v1589667374/main_kgnuev.jpg" />
            <div class="caption left-align">
                <h2>Title</h2>
                <h5 class="light grey-text text-lighten-3 hide-on-small-onl">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis,
                    quos. Consequuntur natus laborum doloremque expedita.
                </h5>
                <a href="#" class="btn btn-large">Learn More</a>
            </div>
        </li>
        <li>
            <img id="img-3" src="https://res.cloudinary.com/elijjaaahhhh/image/upload/v1586943895/szm9o7ajqmlq5krvxsi5.jpg" />
            <div class="caption right-align">
                <h2>Title</h2>
                <h5 class="light grey-text text-lighten-3 hide-on-small-onl">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis,
                    quos. Consequuntur natus laborum doloremque expedita.
                </h5>
                <a href="#" class="btn btn-large">Learn More</a>
            </div>
        </li>
    </ul>
</section>
<%
=begin%>
<div class="slider">
    <ul class="slides">
        <li>
            <img src="https://res.cloudinary.com/elijjaaahhhh/image/upload/v1586943895/szm9o7ajqmlq5krvxsi5.jpg"> <!-- random image -->
            <div class="caption center-align">
                <h3>This is our big Tagline!</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
        <li>
            <img src="https://res.cloudinary.com/elijjaaahhhh/image/upload/v1589667374/main_kgnuev.jpg"> <!-- random image -->
            <div class="caption left-align">
                <h3>Left Aligned Caption</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
        <li>
            <img src="https://res.cloudinary.com/elijjaaahhhh/image/upload/v1589795151/assorted-dishes-on-plate-793765_a5qy49.jpg"> <!-- random image -->
            <div class="caption right-align">
                <h3>Right Aligned Caption</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
        <li>
            <img src="https://res.cloudinary.com/elijjaaahhhh/image/upload/v1589795151/assorted-dishes-on-plate-793765_a5qy49.jpg"> <!-- random image -->
            <div class="caption center-align">
                <h3>This is our big Tagline!</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
    </ul>
</div>
<%
=end%>
<h1>Welcome#home</h1>
<p>Find me in app/views/welcome/home.html.erb</p>