<!-- Section: Slider -->
<section class="slider">
    <ul class="slides">
        <li>
            <img src="https://image.ibb.co/hbEMux/resort1.jpg" alt="">
            <div class="caption center-align">
                <h2>Take Your Dream Vacation</h2>
                <h5 class="light grey-text text-lighten-3 hide-on-small-only">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam non illo earum cumque id est!</h5>
                <a href="#" class="btn btn-large">Learn More</a>
            </div>
        </li>
        <li>
            <img src="https://image.ibb.co/mn1egc/resort2.jpg" alt="">
            <div class="caption left-align">
                <h2>We Work With All Budgets</h2>
                <h5 class="light grey-text text-lighten-3 hide-on-small-only">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam non illo earum cumque id est!</h5>
                <a href="#" class="btn btn-large">Learn More</a>
            </div>
        </li>
        <li>
            <img src="https://image.ibb.co/mbCVnH/resort3.jpg" alt="">
            <div class="caption right-align">
                <h2>Group & Individual Getaways</h2>
                <h5 class="light grey-text text-lighten-3 hide-on-small-only">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam non illo earum cumque id est!</h5>
                <a href="#" class="btn btn-large">Learn More</a>
            </div>
        </li>
    </ul>
</section>


<section class="section">
    <h1>Product Gallery</h1>
    <div class="grid">

        <div class="item item--large">
            <div class="item__details">
                Muffin jelly gingerbread
            </div>
        </div>
        <div class="item item--medium">
            <div class="item__details">
                sesame snaps chocolate
            </div>
        </div>
        <div class="item item--large">
            <div class="item__details">
                Oat cake
            </div>
        </div>

        <div class="item item--medium">
            <div class="item__details">
                Dragée pudding brownie
            </div>
        </div>
        <div class="item item--large">
            <div class="item__details">
                Oat cake
            </div>
        </div>

        <div class="item item--medium">
            <div class="item__details">
                pudding cheesecake
            </div>
        </div>

    </div>
</section>