<section class="hero" id="hero">
    <div class="containers">
        <h2 class="sub-heading">
            <span class="first-letter">W</span>elcome
        </h2>
        <h1>The Rosa</h1>
        <div class="head-description">
            <div class="seperator">
                <div class="line line-left"></div>
                <div class="asterisk">
                    <i class="fas fa-asterisk"></i>
                </div>
                <div class="line line-right"></div>
            </div>
            <div class="single-animation">
                <h5>Reeady to be opened</h5>
                <%= link_to  "", "#", class:"btn cta-btn" %>
            </div>
        </div>
    </div>
</section>
<!-- Hero ends-->