/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Open Sans', cursive;
  --body-font: 'Open Sans', sans-serif;
  --main-font-color-dark: #252525;
  --secondary-font-color: #c59d5f;
  --body-font-color: #515151;
}

html {
  font-family: var(--body-font);
  font-size: 0.9rem;
  color: var(--body-font-color);
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

img{
  width: 100%;
  max-width: 100%;
}

header{
  width:100%;
  position: absolute;
  top: 0;
//   left: 10;
  z-index: 1;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
}

section{
	padding: 3.9rem 0;
  }
  
  img{
	width: 100%;
	max-width: 100%;
  }
  
  ul li {
	list-style: none;
  }
  
  p {
	font-size: 1.6rem;
  }

  .logo {
	  font-weight: bolder;
  }
  
  .nav-link {
	display: block;
	color: #fff;
	text-transform: uppercase;
	font-size: .8rem;
	transition: color .5s;
  }

.hero {
  width: 100%;
  height: 100vh;
  background: url("https://res.cloudinary.com/elijjaaahhhh/image/upload/v1600051026/john-cameron-6-5Ul3I6vSE-unsplash_tslsav.jpg");
  background-size: cover;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  display: flex;
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1024px){
	/* styles */
	.hero {
		height: 60vh;
	  }

	  .sub-heading{
		font-size: 2.5rem!important;
		line-height: .3;
		letter-spacing: 1.5px;
	  }
	  
	  .headline{
		font-size: 1.5rem!important;
		font-weight: 750;
		letter-spacing: .4rem;
	  }
}

@media screen and (min-width: 320px) and (max-width: 480px){
	/* styles */
	.hero {
		height: 100%;
	  }

	  .sub-heading{
		font-size: 1.5rem!important;
		line-height: .2;
		letter-spacing: 1px;
	  }
	  
	  .headline{
		font-size: 2rem!important;
		font-weight: 750;
		letter-spacing: .2rem;
	  }
}



.containers {
  width: 100%;
  max-width: 122.5rem;
  margin: 0 auto;
  padding: 0 2.4rem;
}

// /*header*/
// header{
//   width:100%;
//   position: absolute;
//   top: 0;
//   left: 0;
//   z-index: 1;
//   background-image: linear-gradient(to bottom, rgba(0,0,0,.5), transparent);
// }

// .nav{
//   height: 7.2rem;
//   display: flex;
//   // align-items: center;
//   justify-content: center;
// }

// .menu-toggle{
//   color: #fff;
//   font-size: 2.2rem;
//   position: absolute;
//   top: 50%;
//   transform: translateY(-50%);
//   right: 2.5rem;
//   cursor: pointer;
//   z-index: 1500;
// }

// .fa-times {
//   display: none;
// }

// .nav-list {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 80%;
//   height: 100vh;
//   background-color: var(--main-font-color-dark);
//   padding: 4.4rem;
//   display: flex;
//   flex-direction: column;
//   // align-items: center;
//   justify-content: space-around;
//   z-index: 1250;
//   transform: translateX(-100%);
//   transition: transform .5s;
// }

// .open .fa-times{
//   display: block;
// }

// .open .fa-bars{
//   display: none;
// }

// .open .nav-list{
//   transform: translateX(0);
// }

// .open .nav::before{
//   opacity: 1;
//   transform: scale(1);
// }

// .nav-item {
//   border-bottom: 2px solid rgba(255,255,255,.3);
// }

// .nav-link {
//   display: block;
//   color: #fff;
//   text-transform: uppercase;
//   font-size: 1.6rem;
//   transition: color .5s;
// }

.nav-link:hover{
  color: var(--secondary-font-color);
  background: none;
}

.sub-heading{
  font-size: 4.5rem;
  font-family: var("--secondary-font");
  color: whitesmoke;
  font-weight: 400;
  line-height: .4;
  letter-spacing: 2px;
  opacity: 0;
  animation: fadeUp .5s forwards;
  animation-delay: .5s;
}

.headline{
  font-size: 2rem;
  font-family: var("--main-font");
  color: whitesmoke;
  font-weight: 750;
  letter-spacing: .5rem;
  animation: scale .5s forwards;
}

// /*Discover our story*/

.global-headline{
  text-align: center;
  margin-top: 1rem;
}

.headline-dark {
  color: var(--main-font-color-dark);
  letter-spacing: .5rem;
}

.restaurant-info{
  text-align: center;
//   font-size: .5rem;
}

.restaurant-description {
  margin-bottom: 3rem;
}

.restaurant-description p{
  line-height: 1.6;
  margin-bottom: 2rem;
  font-size: 1rem;
}

.btn-about {
  font-size: 1.5rem;
  border: 1px solid var(--secondary-font-color);
  color: var(--secondary-font-color);
  text-decoration: none;
  padding: 5px;
  transition: .5s;
  border-radius: 5px;
  opacity: 0;
  animation: fadeDown .5s forwards;
  animation-delay: .9s;
}

.btn-about:hover {
  color: white;
  background-color: var(--secondary-font-color);
  text-decoration: none;
}

.img-col{
  justify-self: center;
}

.img1 {
  margin: 25px auto 0;
  width: 160px!important;
  border: 1px solid black;
  padding: 10px 10px!important;
  border-radius: 50%;
  background-color: gray;
  opacity: 1;
  animation: spin .5s forwards;
  animation-delay: .7s;
}

.img1:hover {
  animation: ups 3s infinite;
}

.text-center {
  opacity: 0;
  animation: fadeDown .5s forwards;
  animation-delay: .9s;
}

.ro{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

// /* Tasteful recepies*/ 

.tasteful-recepies {
  background: url("https://res.cloudinary.com/elijjaaahhhh/image/upload/v1587456838/k5gkhzjcuqvkwp6oxr4l.jpg") center no-repeat;
  background-size: cover;
}

.between{
  min-height: 65vh;
  display: flex;
  align-items: center;
}

// discover our menu
.image-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

// perfect-blend
.perfect-blend{
  background: url("https://res.cloudinary.com/elijjaaahhhh/image/upload/v1587456838/k5gkhzjcuqvkwp6oxr4l.jpg") center no-repeat;
  background-size: cover;
}

// footer
footer{
  padding: 1.9rem 0;
  background-color: #121212;
  color: #fff;
  text-align: center;
  position: relative;
}

.back-to-top {
  width: 4rem;
  height: 4rem;
  background-color: #121212;
  position: absolute;
  top: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
}

.back-to-top .fa-chevron-up{
  // display: block;
  color: #fff;
  font-size: 2.5rem;
//   padding: 15px 0;
  animation: up 2s infinite;
}

.footer-content h4{
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 3px;
  margin: 1rem 0;
}

.footer-content p{
	text-transform: uppercase;
	font-size: .7rem;
	font-weight: 100;
	letter-spacing: 2px;
	// margin: 1rem 0;
  }

.social-icons ul {
	display: flex;
	flex-direction: row;
	color: #fff;
	text-align: center;
	justify-content: center;
}

.social-icons ul li a{
	// display: flex;
	// flex-direction: row;
	color: #fff;
	margin: 0 10px;
	font-size: 30px;
	// text-align: center;
	// justify-content: center;
}

// media quries

@media screen and (min-width: 900px){
  section{
    padding: 3rem;
  }

//   .menu-toggle {
//     display: none;
//   }

//   .nav {
//     justify-content: space-between;
//   }

//   .nav-list {
//     position: initial;
//     width: initial;
//     height: initial;
//     background-color: transparent;
//     padding: 0;
//     justify-content: initial;
//     flex-direction: row;
//     transform: initial;
//     transition: initial;
//   }

  .nav-item{
    margin: 0.9rem .2rem;
    border: none;
  }

  .nav-logo {
    margin: 1.3rem 0;
  }

  .nav-item:last-child{
    margin-right: 0;
  }

  .nav-link {
    font-size: 1rem;
  }

  .active {
    position: relative;
  }

  .active::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    left: 0;
    bottom: -3px;
  }

  .restaurant-info{
    display: flex;
    align-items: center;
  }

  .restaurant-info > div {
    flex: 1;
  }

  .padding-right {
    padding-right: 7rem;
  }

  .footer-content {
    max-width: 77.5rem;
    margin: 0 auto;
  }

  .footer-content-about {
    max-width: 51.3rem;
    margin: 0 auto 5.4rem;
  }
}

// Animations

@keyframes fadeUp {
  0%{
    transform: translateY(4rem);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scale {
  0%{
    transform: scale(4);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeDown {
  0%{
    transform: translateY(-1rem);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes spin {
  0%{
    transform: rotate(0);
  }
  100%{
    opacity: 1;
    transform: rotate(-360deg);
  }
}

@keyframes up {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: translateY(-1rem);
  }
}

@keyframes ups {
  0%{
    opacity: 1;
  }
  // 50%{
  //   opacity: 1;
  // }
  100%{
    opacity: 1;
    transform: translateY(-1rem);
  }
}

// hhhhhhhhhhhhhhhhhhhhhhhhhhhhhh

// .block {
//   height: 5em;
//   line-height: 5em;
//   width: 10em;
//   background: #464646;
//   color: #fdfdfd;
//   text-align: center;
//   margin: 1em auto;
//   text-shadow: 0 0 1px #333; /* so one can see fadeBgColor properly */
// }

.animatable {
  
  /* initially hide animatable objects */
  visibility: initial;
  
  /* initially pause animatable objects their animations */
  -webkit-animation-play-state: paused;   
  -moz-animation-play-state: paused;     
  -ms-animation-play-state: paused;
  -o-animation-play-state: paused;   
  animation-play-state: paused; 
}

/* show objects being animated */
.animated {
  visibility: visible;
  
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;

  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
}

/* CSS Animations (extracted from http://glifo.uiparade.com/) */
@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInDown {
	0% {
		opacity: 0;
		-o-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}



@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	60% {
		opacity: 0;
	}
	20% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes bounceInLeft {
	0% {
		opacity: 1;
		-webkit-transform: translateX(-2000px);
	}
	60% {
		-webkit-transform: translateX(20px);
	}

	80% {
		-webkit-transform: translateX(-5px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes bounceInLeft {
	0% {
		opacity: 0;
		-moz-transform: translateX(-2000px);
	}

	60% {
		-moz-transform: translateX(20px);
	}

	80% {
		-moz-transform: translateX(-5px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateX(0);
	}
}

@-o-keyframes bounceInLeft {
	0% {
		opacity: 0;
		-o-transform: translateX(-2000px);
	}

	60% {
		opacity: 1;
		-o-transform: translateX(20px);
	}

	80% {
		-o-transform: translateX(-5px);
	}

	100% {
		opacity: 1;
		-o-transform: translateX(0);
	}
}

@keyframes bounceInLeft {
	0% {
		opacity: 1;
		transform: translateX(-2000px);
	}

	60% {
		transform: translateX(20px);
	}

	80% {
		transform: translateX(-5px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@-webkit-keyframes bounceInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(2000px);
	}

	60% {
		-webkit-transform: translateX(-20px);
	}

	80% {
		-webkit-transform: translateX(5px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes bounceInRight {
	0% {
		opacity: 0;
		-moz-transform: translateX(2000px);
	}

	60% {
		-moz-transform: translateX(-20px);
	}

	80% {
		-moz-transform: translateX(5px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateX(0);
	}
}

@-o-keyframes bounceInRight {
	0% {
		opacity: 0;
		-o-transform: translateX(2000px);
	}

	60% {
		-o-transform: translateX(-20px);
	}

	80% {
		-o-transform: translateX(5px);
	}

	100% {
		opacity: 1;
		-o-transform: translateX(0);
	}
}

@keyframes bounceInRight {
	0% {
		opacity: 0;
		transform: translateX(2000px);
	}

	60% {
		transform: translateX(-20px);
	}

	80% {
		transform: translateX(5px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
	}	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInUp {
	0% {
		opacity: 0;
		-moz-transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInUp {
	0% {
		opacity: 0;
		-o-transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@-webkit-keyframes bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.3);
	}
	50% {
		-webkit-transform: scale(1.05);
	}

	70% {
		-webkit-transform: scale(.9);
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1);
	}
}

@-moz-keyframes bounceIn {
	0% {
		opacity: 0;
		-moz-transform: scale(.3);
	}

	50% {
		-moz-transform: scale(1.05);
	}

	70% {
		-moz-transform: scale(.9);
	}

	100% {
		opacity: 1;
		-moz-transform: scale(1);
	}
}

@-o-keyframes bounceIn {
	0% {
		opacity: 0;
		-o-transform: scale(.3);
	}

	50% {
		-o-transform: scale(1.05);
	}

	70% {
		-o-transform: scale(.9);
	}

	100% {
		opacity: 1;
		-o-transform: scale(1);
	}
}

@keyframes bounceIn {
	0% {
		opacity: 0;
		transform: scale(.3);
	}

	50% {
		transform: scale(1.05);
	}

	70% {
		transform: scale(.9);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}
@-webkit-keyframes moveUp {
	0% {
		opacity: 1;
		-webkit-transform: translateY(40px);
	}	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes moveUp {
	0% {
		opacity: 1;
		-moz-transform: translateY(40px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes moveUp {
	0% {
		opacity: 1;
		-o-transform: translateY(40px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes moveUp {
	0% {
		opacity: 1;
		transform: translateY(40px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@-webkit-keyframes fadeBgColor {
	0%{
		background:none;
	}
  70%{
		background:none;
	}
	100%{
		background:#464646;
	}
}
@-o-keyframes fadeBgColor {
	0%{
		background:none;
	}
  70%{
		background:none;
	}
	100%{
		background:#464646;
	}
}
@keyframes fadeBgColor {
	0%{
		background:none;
	}
  70%{
		background:none;
	}
	100%{
		background:#464646;
	}
}

.animated.animationDelay{
	animation-delay:.4s;
	-webkit-animation-delay:.4s;
}
.animated.animationDelayMed{
	animation-delay:1.2s;
	-webkit-animation-delay:1.2s;
}
.animated.animationDelayLong{
	animation-delay:1.6s;
	-webkit-animation-delay:1.6s;
}
.animated.fadeBgColor {
	-webkit-animation-name: fadeBgColor;
	-moz-animation-name: fadeBgColor;
	-o-animation-name: fadeBgColor;
	animation-name: fadeBgColor;
}
.animated.bounceIn {
	-webkit-animation-name: bounceIn;
	-moz-animation-name: bounceIn;
	-o-animation-name: bounceIn;
	animation-name: bounceIn;
}
.animated.bounceInRight {
	-webkit-animation-name: bounceInRight;
	-moz-animation-name: bounceInRight;
	-o-animation-name: bounceInRight;
	animation-name: bounceInRight;
}
.animated.bounceInLeft {
	-webkit-animation-name: bounceInLeft;
	-moz-animation-name: bounceInLeft;
	-o-animation-name: bounceInLeft;
	animation-name: bounceInLeft;
}
.animated.fadeIn {
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;
}
.animated.fadeInDown {
	-webkit-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	-o-animation-name: fadeInDown;
	animation-name: fadeInDown;
}
.animated.fadeInUp {
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
}
.animated.moveUp {
	-webkit-animation-name: moveUp;
	-moz-animation-name: moveUp;
	-o-animation-name: moveUp;
	animation-name: moveUp;
}

// 
// 
// 
// 
// 
// 
// 
.car h2 {
	color: #000;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 0 80px;
}
.car h2 b {
	color: #ffc000;
}
.car h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 4px;
	background: rgba(0, 0, 0, 0.2);
	left: 0;
	right: 0;
	bottom: -20px;
}
.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel .item {
	min-height: 330px;
    text-align: center;
	overflow: hidden;
}
.carousel .item .img-box {
	height: 160px;
	width: 100%;
	position: relative;
}
.carousel .item img {	
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.carousel .item h4 {
	font-size: 18px;
	margin: 10px 0;
}
.carousel .item .btn {
	color: #333;
    border-radius: 0;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-top: 5px;
    line-height: 16px;
}
.carousel .item .btn:hover, .carousel .item .btn:focus {
	color: #fff;
	background: #ffc000;
	border-color: #000;
	box-shadow: none;
}
.carousel .item .btn i {
	font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}
.carousel .thumb-wrapper {
	text-align: center;
}
.carousel .thumb-content {
	padding: 15px;
}
.carousel .carousel-control {
	height: 100px;
    width: 40px;
    background: none;
    margin: auto 0;
    background: rgba(0, 0, 0, 0.2);
}
.carousel .carousel-control i {
    font-size: 30px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -16px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    font-weight: bold;
}
.carousel .item-price {
	font-size: 13px;
	padding: 2px 0;
}
.carousel .item-price strike {
	color: #999;
	margin-right: 5px;
}
.carousel .item-price span {
	color: #86bd57;
	font-size: 110%;
}
.carousel .carousel-control.left i {
	margin-left: -3px;
}
.carousel .carousel-control.left i {
	margin-right: -3px;
}
.carousel .carousel-indicators {
	bottom: -50px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 4px;
	border-radius: 50%;
	border-color: transparent;
}
.carousel-indicators li {	
	background: rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {	
	background: rgba(0, 0, 0, 0.6);
}
.star-rating li {
	padding: 0;
}
.star-rating i {
	font-size: 14px;
	color: #ffc000;
}
